%h1 Posts
= form_for @post, url: posts_path, method: :post, remote: true do |f|
  = render "shared/error_messages", object: f.object
  = f.text_area :content
  = f.submit "Post"
- if @posts
  .infinite_scroll
    = will_paginate
  %ol#posts_index
    = render @posts
  .infinite_scroll
    = will_paginate
